*{
    display: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav-bar{
    height: 56px;
    display: flex;
}

.nav-a-left{
    padding: 16px;
    color: black;
    text-decoration: none;
}

.nav-a-left:hover{
    background-color: rgb(23, 173, 103);
    color: white;
}

.search{
    display: flex;
    width: 150px;
    align-items: center;
}

.search-bar{
    padding: 5px 40px 5px 15px;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 30px;
    width: 100px;
    height: 25px;
    font-style: italic;
    color: rgb(119, 118, 118);
    font-size: 16px;
}

.search i{
    height: 34px;
    width: 34px;
    color: black;
}

.search-bar:focus{
    border: 2px solid green;
}