*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;   
    z-index: 1000;
}

/**navbar**/
.nav-bar{
    height: 56px;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.nav-a-left{
    height: 56px;
    padding: 16px;
    color: black;
    text-decoration: none;
}

.nav-a-left:hover{
    background-color: #04aa6d;
    color: white;
}

.search{
    display: flex;
    width: 175px;
    height: 36px;
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 30px;
}

.search-bar{
    border: none;
    width: 80px;
    vertical-align: middle;
    font-style: italic;
    color: rgb(119, 118, 118);
    font-size: 16px;
    margin: 5px 40px 5px 15px;
}

.search i{
    height: 34px;
    width: 34px;
    color: black;
    padding: 8px;
}

.search-bar:focus{
    outline: none;
}

.search:focus-within{
    outline: none;
    border: 2px solid #04aa6d;
}

.right-section{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 50px;
}

.nav-a-right{
    color: black;
    text-decoration: none;
}

.nav-a-right:hover{
    background-color: rgb(248, 248, 248);
    border-radius: 15px;
    padding: 10px;
}

.sign-in{
    color: white;
    background-color: #04aa6d;
    height: 40px;
    width: 95px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    margin-top: 8px;
    font-weight: 700;
}

.sign-in:hover{
    background-color: #0c8d5e;
}

.panel{
    height: 32px;
    background-color:#282a35;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 30px 0px 50px;
}

.panel-options{
    font-size: 15px;
    padding: 5px 15px;
    margin-left: 0px;
}

.panel-options:hover{
    background-color: #101111;
}

/**hero upper**/
.hero-upper{
    margin-top: 88px;
    height: 470px;
    background-color: #282a35;
    padding: 80px 0px;
    color: white;
}

.hero-upper-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 295px;
}

.hero-upper h1{
    margin: 2px 0px 0px 0px;
    font-size: 70px;
}

.hero-upper h3{
    color: #fff4a3;
    margin: 30px 0px 10px;
    font-size: 23px;
}

.hero-upper a{
    font-size: 23px;
    color: white;
    font-weight: 700;
}

.hover-link:hover{
    color: #fff4a3;
}

.hero-upper-inp{
    margin: 30px 0px;
    display: flex;
}

.hero-upper-inp i{
    color: white;
}

.hero-upper-inp input{
    height: 47px;
    width: 400px;
    padding: 10px 10px 10px 25px;
    border-left: 40%;
    font-size: 16px;
    font-weight: 700;
    color: rgb(94, 91, 91);
    border-radius: 20px 0px 0px 20px;
    border: none;
}

.hero-upper-inp input:focus{
    outline: none;
}

.hero-upper-inp button{
    height: 47px;
    width: 100px;
    background-color: #04aa6d;
    border-radius: 0px 20px 20px 0px;
    border: none;
}

/**hero lower**/
.hero-lower{
    background-color: #d9eee1;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-lower1{
    height: 515px;
    width: 490px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-lower1 h1{
    font-size: 100px;
}

.hero-lower1 p{
    font-size: 19px;
    margin: 22px 0px;
    font-weight: 700;
}

.hero-lower1 a{
    font-size: 18px;
    text-decoration: none;
    width: 200px;
    height: 43px;
    border-radius: 25px;
    margin: 0px 115px;
    padding: 8px 16px;
    text-align: center;
    vertical-align: middle;
}

.a1{
    color: white; 
    background-color: #04aa6d;
}

.a2{
    color: black;
    background-color: #fff4a3;
}

.a3{
    color: white; 
    background-color: #282a35;
}

.a4{
    color: black;
    background-color: #ffc0c7;;
}

.a1:hover{
    background-color: #0c8d5e;
}

.a2:hover{
    background-color: #eedd5d;
}

.a3:hover{
    background-color: #101111;
}

.a4:hover{
    background-color: #faaab3;
}


/**hero lower second div**/
.hero-lower2{
    height: 453px;
    width: 431px;
    background-color: #e7e9eb;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50px;
}

.hero-lower2 h3{
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 540;
}

.html-ex{
    height: 300px;
    width: 400px;
    background-color: white;
    border-left: 5px solid #04aa6d;
    font-size: 15px;
    padding: 8px 12px;
    margin: 16px 0px;
    text-align: left;
}

.hero-lower2 button{
    padding: 8px 16px;
    color: white;
    background-color: #04aa6d;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 43px;
}

.hero-lower2 button:hover{
    background-color: #0c8d5e;
}

/**content upper**/
.content{
    background-color: #282a35;
    height: 700px;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-cards{
    height: 264px;
    width: 620px;
    padding: 24px;
    margin: 20px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-cards h2{
    font-size: 45px;
    margin: 10px 0px;
}

.big-cards h5{
    font-size: 18px;
    margin: 10px 0px 40px 0px;
    font-weight: 500;
}

.big-cards button{
    font-size: 18px;
    color: white;
    width: 200px;
    height: 43px;
    padding: 8px 16px;
    margin: 0px 104px 16px 104px;
    background-color: #282a35;
    border-radius: 20px;
}

.big-cards button:hover{
    background-color: #101111;
}

/**content long cards**/
.long-cards{
    height: 137px;
    width: 620px;
    font-size: 18px;
    padding: 36px 24px; 
    text-align: center;
    border-radius: 5px;
    margin: 21px 32px;
}

.lcard1{
    background-color: #eab1b8;
}

.lcard2{
    background-color: #eae098;
}

.lcard1:hover{
    background-color: #f5bfc5;
}

.lcard2:hover{
    background-color: #f1e9a5;
}

.long-cards h2{
    margin: 10px 0px;
}

/**content small cards**/
.lcard-div{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    background-color: #282a35;
    padding-top: 40px;
}

.scard-div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 320px;
    background-color: #282a35;
    padding-bottom: 50px;
    
}

.small-cards{
    height: 113px;
    width: 265px;
    text-align: center;
    vertical-align: center;
    padding: 24px;
    font-size: 16px;
    margin: 23px 35px;
    border-radius: 5px;
}

.small-cards h2{
    margin: 10px 0px;
}

.scard1{
    background-color: #dfd9d8;
}

.scard2{
    background-color: #c8dbd0;
}

.scard3{
    background-color: #8bc3c4;
}

.scard4{
    background-color: #eab1b8;
}

.scard5{
    background-color: #eae098;
}

.scard6{
    background-color: #dfd9d8;
}

.scard7{
    background-color: #c8dbd0;
}

.scard8{
    background-color: #8bc3c4;
}

/**content2**/
.content2{
    height: 800px;
    background-color: #e7e9eb;
    padding: 64px 24px 90px;
    text-align: center;
}

.content2 h1{
    font-size: 65px;
}

.content2 h4{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.content2 img{
    height: 375px;
    width: 980px;
    margin: 16px 0px 20px;
}

.content2 button{
    font-size: 20px;
    background-color: #282a35;
    color: white;
    padding: 16px;
    margin: 20px 266px;
    text-align: center;
    vertical-align: middle;
    height: 62px;
    width: 950px;
    border-radius: 20px;
    font-weight: 600;
}

.content2 button:hover{
    background-color: black;
}

/*footer**/
footer{
    height: 500px;
    background-color: #282a35;
    color: #dddddd;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.foot-panel1{
    color: #eae098;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 102px;
}

.foot-panel1 p:hover{
    text-decoration: underline;
}

.foot-panel2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 225px;
}

.foot-panel2 h5{
    font-size: 18px;
    margin: 10px 0px 20px;
    width: 100px;
}

.foot-links{
    width: 180px;
    height: 225px;
    padding: 0px 30px 0px 50px;
}

.foot-links ul{
    font-size: 12px;
    list-style: none;
}

.foot-links li:hover{
    color: #eae098;
}

.foot-panel3{
    font-size: 12px;
    height: 75px;
    text-align: center;
    vertical-align: center;
    margin-top: 100px;
}